@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

/* RESETS
=========================================== */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 20px 0;
  padding: 0 20px;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #202020;
  background-color: #f4f4f4;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* POKEMON APP
=========================================== */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  max-width: 80%;
  margin: auto;
}

.container p {
  margin: 0;
}

.container .pokemon {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
}

.container .pokemon:hover .pokemon__image {
  transform: scale(1.1);
}

.container .pokemon__name {
  background-color: #8e44ad;
  text-align: center;
  padding: 10px;
}

.container .pokemon__name p {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 4px;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

.container .pokemon__image {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease-in-out;
}

.container .pokemon__image img {
  max-width: 100%;
  height: 100%;
  min-height: 400px;
}

.container .pokemon__attacks {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.container .pokemon__attacks span {
  width: 33%;
  background-color: #3498db;
  border-radius: 3px;
  font-weight: 700;
  color: #fff;
  padding: 7px 10px;
  font-size: 12px;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: center;
}

.container .pokemon__meta {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
}

.container .pokemon__meta span {
  color: #fff;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  background-color: #16a085;
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  border-radius: 5px;
}

@media (max-width: 980px) {
  .container {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .container .pokemon {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 100%;
    grid-template-columns: 1fr;
  }
  .container .pokemon {
    width: 100%;
  }
  .container .pokemon__attacks,
  .container .pokemon__meta {
    flex-wrap: wrap;
  }

  .container .pokemon__meta span,
  .container .pokemon__attacks span,
  .container .pokemon__meta span {
    margin-bottom: 10px;
  }
}
