input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(123, 34, 40, 0.8);
  margin-top: -6px;
}

input[type='range']:focus {
  outline: none;
}
.volumeControl {
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.volumeControl .fa {
  padding-right: 10px;
  width: 20px;
}

input.volume {
  width: 90%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  margin-top: -5px;
  line-height: 1em;
  cursor: pointer;
}

.volume .fa {
  font-size: 20px;
  width: 20px;
  text-align: center;
}
