.player-controls {
  margin: 0 auto;
  text-align: center;
}

.player-controls a {
  padding: 10px;
  font-weight: bold;
  border-radius: 50%;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
}

.player-controls .play-buttons {
  border: 1px solid rgba(123, 34, 40, 0.8);
  color: rgba(123, 34, 40, 0.8);
  padding: 10px 15px;
  margin: 5px;
  width: 50px;
}

.player-controls .play {
  padding: 18px 20px;
  font-size: 24px;
  width: 70px;
}

.player-actions {
  padding: 10px;
  width: 100%;
}
