/* ligthbox */

.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6) !important;
  align-items: center;
}

.lightbox-holder {
  position: relative;
  margin: 0 auto;
  max-width: 80%;
  text-align: right;
}
.lightbox-item {
  min-height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0.3rem;
}
.lightbox-close {
  color: var(--mainPink);
  font-size: 3rem;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.lightbox-close:hover {
  color: var(--mainYellow);
}

.lightbox-control {
  position: absolute;
  font-size: 4rem;
  color: var(--mainPink);
  transition: all 1s linear;
  cursor: pointer;
}
.lightbox-control:hover {
  color: var(--mainYellow);
}
.btnLeft {
  top: 50%;
  left: 0;
  transform: translateX(-60%);
  display: none;
}
.btnRight {
  top: 50%;
  right: 0;
  transform: translateX(60%);
  display: none;
}
