.album-info {
  padding: 0 10px;
  height: 50px;
  opacity: 0.8;
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}

.album-info .fa {
  font-size: 20px;
  line-height: 45px;
}
.album-info .artist {
  font-size: 0.8rem;
  line-height: 1.2;
  opacity: 0.8;
}

.album-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-title {
  color: rgba(123, 34, 40, 0.8) !important;
  opacity: 1;
}

.loop-songs {
  position: relative;
}

.loop-songs .fa {
  font-size: 24px;
}

.loop-songs small {
  font: 9px Arial, sans-serif;
  position: absolute;
  color: rgb(123, 34, 40);
  top: 50%;
  margin-left: 7px;
}
