.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container>div {
  flex: 1;
  text-align: center;
}

.inc-exp-container>div:first-of-type {
  border-right: 1px solid #dedede;
}